<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <h1 th:text="#{게시판목록}"></h1>
    <div class="createPostButton">
    <a th:href="@{/boards/new}" th:text="#{새게시글작성}"></a>
    </div>
    <table>
        <thead>
        <tr>
            <th th:text="#{게시글번호}"></th>
            <th th:text="#{제목}"></th>
            <th th:text="#{작성자}"></th>
            <th th:text="#{내용}"></th>
            <th th:text="#{수정}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${boards}">
            <td th:text="${board.seq}" class="nowrap"></td>
            <td>
                <a th:text="${board.subject}" th:href="@{/boards/{id}(id=${board.seq})}" class="nowrap"></a>
            </td>
            <td th:text="${board.poster}" class="nowrap"></td>
            <td th:text="${board.content}"></td>
            <td>
                <a th:href="@{/boards/edit/{id}(id=${board.seq})}" th:text="#{수정}"></a>
                <a th:href="@{/boards/delete/{id}(id=${board.seq})}" th:text="#{삭제}"></a>
            </td>
        </tr>
        </tbody>
    </table>
</main>
</html>